* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: arial,sans-serif;

}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.links {
    text-decoration: none;

}

.links:hover {
    text-decoration: underline;

}

.button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
.button:hover {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #222;
}

.icon {
    border-radius: 50%;
            
}

.controls .button:nth-of-type(1){
    margin-right: 8px;
}
.textbox{
    height: 34px;
    width: 447px;
    border-radius: 17px;
    border: 1px solid #dadce0;
    
}
.brasil {
    background-color: #f2f2f2;
    border: 1px solid #dadce0;
    font-size: 14px;
    color: rgba(0,0,0,.54);

}
.footer {
    background-color: #f2f2f2;
    border: 1px solid #dadce0;
    font-size: 14px;
    
    
}
.linguagem {
    font-size: 13px;

}

.footer a {
    color : rgba(0,0,0,.54);
    margin-right: 10px;
    margin-left: 10px;

}

.racial {
    
    font-size: 13px;

}

.racial img {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}